[flake8]
exclude =
    migrations,
    __pycache__,
    manage.py,
    settings.py,
    settings,
    venv,
    .git,
    /venv,
    /venv/*,
    /venv/*/*,
    .github,
    .github/*,


max-line-length = 120